body{
    background-image: url(710844.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:max(auto,1200px);
}
.box{
    display: flex;
    flex-direction: column;
    width:500px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 1px double rgb(26, 26, 51);
    color: cyan;
    border-radius: 15px;
    background-size: contain;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 24px;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 9%;
    padding: 100px 5px 100px 5px;
}

.box h4{
    display: flex;
    justify-content: space-around;
    z-index:10;
}
.box input{
    width:40%;
    background: transparent;
    border-radius: 5px;
    border: 2px double grey;
    z-index: 10;
    translate:0 2px;
    color:cyan;
    font-size: 24px;
    /* -webkit-animation:both; */
}

.box button{
    font-size: 24px;
    margin-bottom: 10px;
    border: 2px double rgb(63, 96, 96);
    border-radius: 5px;
     margin-top: 30px;
}